<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script defer src="/js/jsfile.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <section>
      <section>
        <div id="photoContainer"></div>
        <div id="photoCount"></div>
      </section>
      <p>Our mission is to provide a seamless experience for video sharing and viewing. Enjoy your stay!</p>
    </section>
  </body>
</html>
